@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500&family=Limelight&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    background: linear-gradient(#00041a, #20386b);
    height: 100%;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.circle {
    border: red solid 3px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.login-container {
    
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 500px;

    /* border-radius: 10% 10% 10% 10% / 25% 25% 25% 25%; */
    box-shadow: #070c18 0px 15px 6px 0px;
    border-left: #070c18 dashed 2px;
    border-right: #070c18 dashed 2px;
    background: -webkit-radial-gradient(.6em .6em, circle, #070f20 .55em, rgba(255,255,255,0) .6em) -.6em -.6em,
                -webkit-radial-gradient(1.5em 50%, circle, #070f20 0.5em, rgba(255,255,255,0) .4em);
                
    
    /* background: radial-gradient(circle 40px at 0% 100%, #070c18, #070c18, #070c18 75%, rgb(245, 226, 165) 1%); */
                /* radial-gradient(circle 40px at 100% 0%, #00041a, #00041a, #00041a 75%, rgb(245, 226, 165) 1%); */
    background-color: rgb(236, 222, 173);
    
    /* background: radial-gradient(circle, rgba(255,238,112,1) 0%, rgba(198,152,0,1) 100%); */
    
}

.login-container:hover {
    transform: translateY(-6px);
    box-shadow: #070c18 0px 30px 15px 0px;
}

.login-signup-title {
    margin-top: 0;
    margin-bottom: 5px;
}

.admit-one {
    align-self:flex-start;
    position:absolute;
    opacity: 15%;
    font-size: 35px;
    transform: rotateZ(90deg);
    text-decoration:underline;
    
}

.login-form {
    border: rgb(231, 69, 69) solid 5px;
    border-radius: 15px;
    width: 83%;
    height:70%;
    padding-top: 20px;
}


.login-form input {
    border:grey dotted 2px;
    border-radius: 6px;
    height: 18px;
    width: 200px;
    padding: 0.5rem;
    margin: 5px;
    background-color: rgb(241, 231, 192)
}

.login-form input:focus {
    outline: none;
    background-color: rgb(243, 243, 243)
}

.submit-button {
    margin: 5px;
    margin-top: 0;
    width: 150px;
    background-color: rgb(241, 231, 192);
    border: grey dotted 2px;
    color: rgb(44, 44, 44);
    font-family: 'Lexend';
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 9px;
    padding: 1em;
    font-style:normal;
}

.submit-button:active {
    transform: translateY(4px)
}

.submit-button:hover {
    background-color: rgb(224, 214, 172);
    cursor: pointer;
}

.login-signup {
    margin-bottom: 5px;
    margin-top: 0;
}

.login-bool {
    cursor: pointer;
    color: rgb(7, 120, 196);
}

.login-bool:hover {
    color: rgb(0, 77, 128);
}

#transition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    color: white;
}

#scrolldown-arrow {
    fill: white;
    scale: 3;
}

.blurb-section {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 500px;
}

.blurb-container {
    width: 50vw;
    height: fit-content;
    background-color:#c4c4c4;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: #0a1224 0px 15px 6px 0px;
}