.nav-container {
    display: flex;
    border: orange dashed 3px;
    height: 10vh;
    justify-content: space-between;
}

.nav-logo {
    border: red solid 2px;
}

.nav-list {
    width: 60%;
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    border: green solid 2px;
    background-color: rgb(248, 243, 169);
    width: 25%;
}

.nav-item:hover {
    height: 100%;
}

.nav-item a {
    align-self: center;
}

.active {
    color: rgb(213, 228, 77);
}